* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --spacing: 0.75rem;
  }

  body {
    font-family: sans-serif;
    background: #102132
  }
.player{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 2px rgba(#000, 0.05);
    border: 1px solid #104266;
}

.container-players{
    overflow-x: auto; 
  overflow-y: hidden; 
  padding-bottom: 2rem;
}
h3{
    margin-bottom: var(--spacing);
    color: black;
    font-weight: normal;
}

button{
    line-height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
}
button:first-child {
    color: #fff;
    background-color: #2A8CE1 ;
    margin-right: var(--spacing);

    &:hover {
        background-color: darken(#126cbb, 10);
    }
}

button:nth-child(2) {
    background: rgb(83, 87, 90);
    color: white;
    border: 1px solid var(--color);

    &:hover {
      background-color: rgb(58, 62, 65);
      color: #fff;
    }}
    
section {
    margin-bottom: 4rem;
    padding: 1rem;
    background: #0c1926;
    border-radius: 8px; 
  }
  h1 {
    color: white;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  main {
    margin: 0 auto;
    max-width: 1500px;
    padding: 2rem 1rem;
  }
  h2 {
    margin-bottom: 1rem;
    color: white
  }
  section>div:not():not(.contenedor-jugadores) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @media screen and (min-width: 640px) {
      grid-template-columns: repeat(6, 1fr);
    }

  }
  article img {
    --size: 4.5rem;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: var(--spacing);
  }
  button {
    border: none;
    cursor: pointer;
    outline: none;
  }
  button:nth-child(2) {
    background: rgb(83, 87, 90);
    color: white;
    border: 1px solid var(--color);

    &:hover {
      background-color: rgb(58, 62, 65);
      color: #fff;
    }
}
